
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.box {
  flex: 1 1 30%;
  background: #a0c4ff;
  padding: 20px;
  text-align: center;
}

img {
  width: 300px;
  height: auto;
  display: block;
  margin-top: 20px;
}


@media screen and (max-width: 600px) {
  .box {
    flex: 1 1 100%;
  }

  img {
    width: 100%;
  }
}


@media screen and (min-width: 601px) and (max-width: 900px) {
  .box {
    flex: 1 1 48%;
  }

  img {
    width: 100%;
  }
}
